

<%- include('partials/_header') %>

            <h1 class="truncate">Actualizar el regalo de <%= presents.nombre %></h1>

            <form method="post" action="/update/<%= presents._id %>" autocomplete="off">

                <div class="input-field">
                    <input placeholder="¿Para quién es el regalo?" id="nombre" name="nombre" type="text" class="validate" value="<%= presents.nombre %>">
                    <label for="nombre">Nombre</label>
                </div>

                <div class="input-field">
                    <input placeholder="Por ejemplo: un tequila" id="regalo" name="regalo" type="text" class="validate" value="<%= presents.regalo %>">
                    <label for="regalo">Regalo</label>
                </div>

                <div class="center-align">
                    <button type="submit" class="waves-effect waves-light btn-small"><i class="material-icons left">save</i>Actualizar</button >
                </div>
                

            </form>

<%- include('partials/_footer') %>