

<%- include('partials/_header') %>

    <div class="row">
        <div class="col s12 offset-xl2 xl8">

            <h1>Agrega personas a tu lista</h1>

            <form method="post" action="/process" autocomplete="off" id="registro">

                <div class="input-field">
                    <input required  placeholder="¿Para quién es el regalo?" id="nombre" name="nombre" type="text" class="validate">
                    <label for="nombre">Nombre</label>
                </div>

                <div class="input-field">
                    <input required  placeholder="Por ejemplo: un tequila" id="regalo" name="regalo" type="text" class="validate">
                    <label for="regalo">Regalo</label>
                </div>

                <div class="center-align">
                    <button type="submit" class="waves-effect waves-light btn-small"><i class="material-icons left">save</i>Agregar</button >
                </div>
                

            </form>

            <hr />
            <h2>Lista de regalos</h2>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Persona</th>
                        <th colspan="2">Regalo</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<presents.length; i++ ) { %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= presents[i].nombre %></td>
                            <td><%= presents[i].regalo %></td>
                            <td>
                                
                                <div class="fixed-action-btn" style="position: relative; top: 0; bottom: 0; text-align:right;">
                                    <a class="btn-floating btn-large red">
                                        <i class="large material-icons">mode_edit</i>
                                    </a>
                                    <ul>
                                        <li>
                                            <a onClick="gtag('event','Cambio de estado',{'event_category':'Regalo - <%= presents[i].regalo %>','event_label':'<%= presents[i].comprado ? 'Falta' : 'Comprado' %>'})"  href="/conv/<%= presents[i]._id %>" class="btn-floating green" title="<%= presents[i].comprado ? 'Marcar como faltante' : 'Marcar como comprado' %>">
                                                <i class="small material-icons"><%= presents[i].comprado ? 'close' : 'done'  %></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a onClick="gtag('event','Editar regalo',{'event_category':'Regalo - <%= presents[i].regalo %>','event_label':'<%= presents[i]%>'})"  href="/edit/<%= presents[i]._id %>" class="btn-floating blue" title="Editar">
                                                <i class="small material-icons">edit</i>
                                            </a>
                                        </li>
                                        <li>
                                            <a onClick="gtag('event','Borrar regalo',{'event_category':'Regalo - <%= presents[i].regalo %>','event_label':''})"  href="/delete/<%= presents[i]._id %>" class="btn-floating red" title="Borrar">
                                                <i class="small material-icons">delete_forever</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>

        </div>
    </div>
 
<%- include('partials/_footer') %>
