        </div>

    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Tarea Implementación de una solución basada en una aplicación web</h5>
                    <p class="grey-text text-lighten-4">Ingenieria y desarrollo en la web</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Mapa de navegación</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/">Inicio</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                UNIR - 2do semestre
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            console.log('JS listo');
            $('.sidenav').sidenav();

            $('.fixed-action-btn').floatingActionButton({
                direction: 'left',
                hoverEnabled: false
            });
        });

  	var form = document.getElementById('registro');
	form.addEventListener('submit',function(e){
		e.preventDefault();
		var regalo = document.getElementById('regalo').value || 'Vacio';
		gtag('event','Registrar regalo', {
			'event_category':'Formulario',
			'event_label':regalo,
			'event_callback':function(){form.submit()}
		});
	});
    </script>


    </body>
</html>
